<div class="container">

	<h1>LAWME</h1>

	<!-- checks if there is any case for display -->
	<% if @case == [] %>

		<p>There is no case that interests you at the moment</p>

	<% else %>

		<table class="table">
			<thead>
				<tr>
					<th>S/No.</th>
					<th>Title</th>
				</tr>
			</thead>
			<tbody>

				<!-- display each case with an index -->
				<% @case.each_with_index do |c, i| %>
				<tr>
				
					<td><%= i + 1 %></td>

					<!-- links to the case show -->
					<td><%= link_to c.title, case_path(c) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	<% end %>

</div>