<h1> Client Update</h1>
<%= form_for @client, :local => true do |form| %>
    <p>
    <%= form.text_field :number, placeholder: 'number' %><br /> <br/>
    <%= form.submit 'Update' %>
    </p>
<% end %>