<div class="container">
  <h1>LawMe</h1>
  
  <p><%= @user.email %></p>
  <p><%= @client.name %></p>
  <p><%= @client.number %></p>
  
  <table>
    <tr>
      <th>Cases</th>
    </tr>
    <% if @cases == []%>
      <tr>
        <td> no record </td>
      </tr>
    <% else %>
      <% @cases.each do |cases| %>
      <tr>
        <td><%= cases.title %></td>
      </tr>
      <% end %>
    <% end %>  
  </table>
</div>