
<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-centered" style="color:hsl(27, 76%, 53%); font-weight:500;">
            LawMe&trade;  by the Aces of &spades;, &hearts; & &diams;
      </div>
    </div>
  </div>
</footer>
